<!DOCTYPE html>
<html>
  <head>
    <title>Dance to the beat of your inner-sociopath.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    {% include "common/header.html" %}

    <div class="hero-unit">
      <div class="offset4">
        <h1>Bitlyopath</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="offset5">
        <div>
          <img alt="" src="static/imgs/beethovenisEvil.png" />
        </div>
        <button class="btn btn-large btn-warning" type="button" data-element="trending">
          What's trending?
        </button>
      </div>

      <br><br><br>

      <div class="row-fluid" data-element="target">
        <nav class="span10">
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <!-- -->
            </ul>
            <div class="tab-content">
            </div>
          </div>
        </nav>

      </div><!-- end fluid -->

    </div><!--end container-->

    {% include "common/javascripts.html" %}
    <script type="text/javascript">
      var site = new Site($("[data-element='trending']"));
      site.loadPhrases($('[data-element="target"]'))
    </script>
  </body>
</html>
